<h2> Welcome to your bucket list </h2>

<a href="#"> Login </a> or <a href="#"> Register </a> to continue


<a href="#" (click)="bucketlistHome"> Home </a>

<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">

  <section class="bucketlistapp">

    <!-- Header section -->
    <app-bucketlist-list-header (add)="onAddBucketList($event)"></app-bucketlist-list-header>
    <!-- End of Header section -->

    <!-- Main Bucket lists section -->
    <app-bucketlist-home [bucketlists]="bucketlists" (remove)="onRemoveBucketList($event)"> </app-bucketlist-home>
    <!-- End of Main Bucket Lists section -->

    <!-- Footer section -->
    <app-bucketlist-footer [bucketlists]="bucketlists"> </app-bucketlist-footer>
    <!-- End of footer section -->

  </section>

</div>
