<div class="container">

<section class="bucketlistapp">

  <h3> {{title}} </h3>

    <header class="header">
      <div class="row">

        <div class="col l6">
          <!-- Form for New Bucket List -->
            <form (ngSubmit)="addBucketList()">
              <div class="row">
                <div class="input-field col l8 s10">
                  <i class="material-icons prefix">add_circle</i>
                  <input type="text" id="new-bucketlist" class="new-bucketlist" name="name" [(ngModel)]="newBucketList.name">
                  <label for="new-bucketlist"> Create a new bucket list </label>
                </div>

                <div class="input-field col l2 s2">
                  <button class="btn waves-effect waves-light" type="submit" value="submit"> Submit </button>
                </div>
              </div>
            </form>
          <!-- End of Form for New Bucket List -->
        </div>

        <div class="col l6">
          <!-- Form for Search -->
            <form (ngSubmit)="searchBucketList(query, limit)">

              <div class="input-field col s6 l6">
                <i class="material-icons prefix">search</i>
                <input type="text" id="icon-prefix" name="query" [(ngModel)]="query">
                <label for="icon-prefix">Find a bucket list</label>
              </div>

              <div class="input-field col s2 l2">
                <input type="text" [value]=5 id="limit" name="limit" [(ngModel)]="limit">
                <label for="limit">Limit</label>
                <!-- <select name="limit" [(ngModel)]="limit">
                  <option [ngValue]="5" selected> 5 </option>
                  <option [ngValue]="10"> 10 </option>
                  <option [ngValue]="20"> 20 </option>
                </select> -->
              </div>

              <div class="input-field col s2 l2">
                <button class="btn waves-effect waves-light" type="submit" value="submit"> Search </button>
              </div>

            </form>
          <!-- End of Search Form -->
        </div>

      </div>

    </header>

    <section class="main" *ngIf="bucketlists.length > 0">

      <div class="row">

          <div class="col s12 cards-container">
              <ul class="bucketlist" style="-webkit-padding-start: 0px; -webkit-margin-before: 0em; -webkit-margin-after: 0em;">
                <li *ngFor="let bucketlist of bucketlists">

                  <div class="card z-shadow-3">
                    <div class="card-content" style="width: 100%;">
                      <span class="card-title">
                        {{bucketlist.name}}
                      </span>

                      <hr>
                        <ul>

                            <app-item [bucketlist]="bucketlist"> </app-item>

                        </ul>
                    </div>

                    <div class="card-action center">

                      <div name="editForm" *ngIf="showEditName==true&&selectedId==bucketlist.id">
                        <input class="update" placeholder="Enter the new name for {{bucketlist.name}}" [(ngModel)]="bucketlist.name" (keyup.enter)="updateBucketList(bucketlist);showEditName=false">
                      </div>

                      <i class="material-icons" (click)="showEditName=!showEditName;selectedId=bucketlist.id;" style="cursor: pointer">edit</i>
                      <i class="material-icons" (click)="removeBucketList(bucketlist)" style="cursor: pointer">delete</i>
                    </div>
                  </div>

                </li>

              </ul>
         </div>

      </div>

    </section>

    <section *ngIf="bucketlists.length < 1"> <h4> No Bucket Lists found </h4> </section>

    <div class="row" *ngIf="bucketlists.length > 0">

      <div class="col l4 left">
        <span class="left btn" *ngIf="previous_page"> <i class="material-icons" (click)="previousPage(previous_page)">first_page</i>  </span>
      </div>

      <div class="col l4 center">
        <span class="center"><strong>{{bucketlists.length}}</strong> {{bucketlists.length == 1 ? 'bucket list' : 'bucket lists'}}</span>
      </div>

      <div class="col l4 right">
        <span class="right btn" *ngIf="next_page"> <i class="material-icons" (click)="nextPage(next_page)">last_page</i>  </span>
      </div>

    </div>

</section>

</div>
