<!-- Bucket List View -->
    <div class="col s12 m6 l4">
      <div class="card teal darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{bucketlist.name}}</span>
          <hr>
            <ul>
              <li> Item 1 </li>
              <li> Item 2 </li>
            </ul>
        </div>
        <div class="card-action">
          <a href="#" class=""> <i class="material-icons">add</i> </a>
          <a href="" class="destroy"> <i class="material-icons" (click)="removeBucketList(bucketlist)">delete</i> </a>
        </div>
      </div>
    </div>
<!-- End of Bucket List View -->
