<div id="index-banner" class="parallax-container" style="height: 500px">

  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Welcome to BKT!</h1>
      <div class="row center">
        <h5 class="header col s12 white-text">Have anything you have not done and want to do? Have a goal you want to achieve before time runs out?</h5>
      </div>
      <div class="row center">
        <a href="/auth" class="waves-effect waves-light teal btn" *ngIf="login_status==0">Login | Register</a>
        <a href="/bucketlists" class="waves-effect waves-light teal btn" *ngIf="login_status==1">My Bucket Lists</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="../../assets/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="large material-icons">event</i></h2>
          <h5 class="center">Plan</h5>

          <p class="light">
              Make plans for your future endeavours and keep your plans in a safe, convenient and accessible place.
              Manage your plans by updating them as time goes by or adding new ones.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="large material-icons">bubble_chart</i></h2>
          <h5 class="center">Do</h5>

          <p class="light">
            When the sun is high and the time is right, follow your dreams and execute your plans.
            Enjoy what life has to offer as per your plans. Experience each moment as it comes because time is too precious...and scarce.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="large material-icons">done_all</i></h2>
          <h5 class="center">Check It Off</h5>

          <p class="light">
              The sky is the limit. Now that you have accomplished your dreams, check them out of your bucket list and dream some more.
              Extend your adventure, extend your fun, live life!
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container valign-wrapper">
  <!-- <div class="section no-pad-bot"> -->
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 white-text center">All your bucket lists in one convenient place.</h5>
      </div>
    </div>
  <!-- </div> -->
  <div class="parallax"><img src="../../assets/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
