<div class="card">
  <div class="card-content" style="width: 100%;">
    <span class="card-title" (dblclick)="showForm()">
      {{bucketlist.name}}
      <i class="material-icons" (click)="showForm()">edit</i>
      <i class="material-icons" (click)="removeBucketList(bucketlist)">delete</i>
      <!-- div to update a bucket list name -->
      <div name="editForm" *ngIf="show==true">
        <input class="update" placeholder="{{bucketlist.name}}" autofocus [(ngModel)]="bucketlist.name" (keyup.enter)="updateBucketList(bucketlist)">
      </div>
      <!-- End of update div -->
    </span>

    <hr>
      <ul>
        <!-- <li *ngFor="let item of bucketlist.items"> -->

          <app-item [item]="item" [bucketlist]="bucketlist"> </app-item>

        <!-- </li> -->
      </ul>
  </div>

  <!-- <div class="card-action">

    <i class="material-icons" (click)="removeBucketList(bucketlist)">delete</i>
  </div> -->
</div>
<!-- <app-item [bucketlist]="bucketlist" (remove)="removeBucketList(bucketlist)" (update)="updateBucketList(bucketlist)"></app-item> -->
